// @import "../../libs/bootstrap/scss/bootstrap-grid";
// @import "../../libs/bootstrap/scss/mixins";
// @import "../../libs/bootstrap/scss/bootstrap-reboot";
@import "variables";
@import '../libs/bootstrap/scss/bootstrap-reboot';
@import '../libs/bootstrap/scss/bootstrap-grid';
@import '../libs/bootstrap/scss/utilities/_sizing';

@import "../../libs/slick/slick";
@import "../../libs/fancybox/jquery.fancybox";
@import "../../libs/swiper/swiper.min";
@import "../../libs/animation/animate.min";
// @import "../../libs/fontawesome/css/all";
@import '../libs/fontAwesome/web-fonts-with-css/scss/variables';
@import '../libs/fontAwesome/web-fonts-with-css/scss/mixins';
@import '../libs/fontAwesome/web-fonts-with-css/scss/core';
@import '../libs/fontAwesome/web-fonts-with-css/scss/solid';
@import '../libs/fontAwesome/web-fonts-with-css/scss/icons';
@import '../libs/fontAwesome/web-fonts-with-css/scss/brands';
@import "../mixins/font-face";

//example
//https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
@include font-face('Roboto', "../webfonts/roboto-regular");
@include font-face('RobotoCondensed', "../webfonts/RobotoCondensed-Regular");
@include font-face('RobotoCondensed', "../webfonts/RobotoCondensedLight/RobotoCondensedLight", 300);
@include font-face('RobotoCondensed', "../webfonts/RobotoCondensedBold/RobotoCondensedBold", 700);

html, body {
  font-family: $font;
}

html {
  @media #{$media_md} {
    position: relative;
    min-height: 100%;
  }
}

body {
  min-width: 320px;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  color: $base_font_color;
  font-family: $font;
  line-height: 1.23;
  text-transform: uppercase;
  & > strong {
    font-weight: 700;
  }
}

p {
  font-family: $font_secondary;
}

a {
  transition: all 0.25s ease;
  &:hover {
    text-decoration: none;
  }
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


@import "preloader";
@import "base-text";
@import "buttons";
@import "modal";
