.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body, html {
  font-family: $font_secondary;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  border: 0;
}

abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a, fieldset, img {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a img, fieldset, img {
  border: 0;
}

input {
  &[type=email], &[type=tel], &[type=text] {
    -webkit-appearance: none;
  }
}

textarea {
  -webkit-appearance: none;
}

button, input[type=submit] {
  cursor: pointer;
}

button::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

button, input {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  outline: 0;
  &:focus {
    outline: 0;
  }
}

button, div, h1, h2, h3, h4, h5, h6, input, select, span, textarea {
  outline: 0;
}

ol, ul {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.school-header {
  background: #fff;
}

.school-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  min-height: 90px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  .logo a {
    font-family: $font_secondary;
    font-size: 10px;
    color: #5d6770;
    display: inline-block;
    width: 210px;
    position: relative;
    letter-spacing: .18px;
    line-height: 10px;
    text-transform: uppercase;
    strong {
      color: #141516;
      text-transform: none;
      font-size: 23px;
      line-height: initial;
      margin-top: 7px;
      display: inherit;
    }
    img {
      width: 63px;
      height: 64px;
      margin: 0 6px 0 4px;
      float: left;
    }
  }
  .nav ul {
    width: 530px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    li {
      font-size: 14px;
      font-family: $font_secondary;
      font-weight: 500;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: #03a6f1;
      }
      &:focus, &:hover {
        color: #5d6770;
      }
      &:focus::before, &:hover::before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      a {
        display: block;
        padding: 0 10;
        color: #5d6770;
      }
    }
  }
}

.btn__school {
  text-align: center;
  font-family: $font_secondary;
  font-size: 14px;
  width: 290px;
  height: 40px;
  background: #ff591f;
  border-radius: 6px;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1000;
  a {
    width: 100%;
    padding: 13px;
    color: #fff;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  &:focus, &:hover {
    -webkit-box-shadow: 4px 6.928px 32px 0 rgba(255, 100, 31, 0.4);
    box-shadow: 4px 6.928px 32px 0 rgba(255, 100, 31, 0.4);
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
}

.btn__school_content {
  width: 390px;
  height: 72px;
  margin-bottom: 82px;
  a {
    font-size: 18px;
  }
}
.btn__school_meeting{
  width: 390px;
  height: 72px;
  a{
    font-size: 18px;
  }
  margin: 0 auto;
}
.btn__school_second-screen {
  a {
    font-size: 18px;
  }
  position: relative;
  width: 390px;
  height: 72px;
  margin: 80px auto 90px;
}

.btn__school_top5 {
  position: relative;
  top: 45%;
  width: 370px;
  height: 75px;
}

.btn__school_course-fee a, .btn__school_key a, .btn__school_results a, .btn__school_top5 a, .btn__school_twelfth-screen a {
  font-size: 18px;
}

.btn__school_results {
  margin: 0 auto;
  width: 370px;
  height: 75px;
}

.btn__school_key {
  margin-top: 120px;
  width: 370px;
  height: 70px;
}

.btn__school_course-fee {
  width: 240px;
  height: 75px;
  margin: 150px auto 0;
  font-size: 14px;
}
.btn__school_club-fee {
  margin: 125px auto 20px;
  padding: 25px 10px;
  a{

    display: block;
  }
}
.btn__school_twelfth-screen {
  margin: 90px auto 0;
  width: 370px;
  height: 70px;
}

.btn__school_form {
  max-width: 320px;
  height: 60px;
  margin: 40px auto 60px;
  a {
    font-size: 18px;
    font-family: $font_secondary;
    font-weight: 700;
  }
}

.school {
  background: #0e64ed url(../img/sonocoin-cover.png) bottom repeat-x;
  background-size: contain;
  width: 100%;
  position: relative;
  padding-top: 125px;
  padding-bottom: 100px;
  .curves-absolute {
    position: absolute;
    display: block;
    bottom: 0;
    right: 340px;
    z-index: 1;
    img {
      width: 700px;
      height: 750px;
    }
  }
  .content {
    z-index: 10;
    max-width: 560px;
    h1 {
      font-size: 56px;
      display: inline-block;
      strong {
        font-size: 30px;
        color: #c2d6f8;
        display: inline-block;
        line-height: 38px;
        margin-bottom: 68px;
        margin-top: 20px;
        text-transform: none;
        font-family: $font;
        font-weight: 100;
        width: 500px;
      }
      font-family: $font;
      color: #fff;
    }
    h2, p {
      font-family: $font;
      color: #fff;
    }
    h2 {
      width: 370px;
      display: inline-block;
      font-style: italic;
      font-weight: 100;
      margin-bottom: 17px;
      position: relative;
      z-index: 1;
      font-size: 28px;
      line-height: 32px;
      &:before {
        content: "";
        position: absolute;
        width: 90px;
        height: 65px;
        background: url(../img/kissp.png) center;
        top: -40px;
        left: -20px;
        z-index: -1;
      }
    }
    p {
      font-weight: 700;
      font-size: 24px;
      strong {
        display: block;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #92b5ee;
      }
    }
  }
}

.second-screen {
  background: #fff;
  p {
    color: #5d6770;
    font-size: 24px;
    line-height: 32px;
    padding: 0;
    display: block;
    margin: 0 0 40px;
  }
  img {
    width: 120px;
    height: 110px;
    margin-bottom: 50px;
  }
}

.founders-school h2, .second-screen h2, .top5 h2 {
  text-transform: uppercase;
  font-family: $font;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 86px;
}

.founders-school h2 strong, .results h2 strong, .second-screen h2 strong, .top5 h2 strong {
  font-weight: 700;
}

.founders-school, .second-screen, .top5 {
  padding-top: 120px;
}

.founders-school {
  background: url(../img/founders-bg.png) repeat-x;
  padding-bottom: 80px;
  img {
    margin-bottom: 40px;
    width: 500px;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
  }
}

.top5 h3 {
  font-size: 24px;
  font-weight: 500;
}

.founders-school {
  h3 {
    font-family: $font_secondary;
    color: #303c47;
    margin-bottom: 13px;
  }
  p {
    font-family: $font_secondary;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 20px;
    color: #5d6770;
    font-weight: 400;
  }
  .founders-school__social, h3, p {
    margin-left: 25px;
  }
  .founders-school__social a img {
    width: 20px;
  }
}

.top5 {
  padding-bottom: 50px;
  background: #0e64ed;
  h2 {
    font-family: $font;
    margin-bottom: 100px;
    color: #fff;
  }
  h3 {
    margin-top: 75px;
    margin-bottom: 40px;
    color: #fff;
    font-family: $font_secondary;
  }
}

.fifth-screen h2 {
  color: #92b5ee;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 75px;
}

.top5 {
  p {
    color: #92b5ee;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 75px;
  }
  img {
    width: 70px;
    position: absolute;
    top: 20px;
  }
}

.fifth-screen {
  padding-top: 120px;
  padding-bottom: 140px;
  h2 {
    text-transform: uppercase;
    font-family: $font;
    font-size: 60px;
    font-weight: 700;
    color: #000;
  }
}

.fifth-screen__photo {
  position: relative;
  img {
    width: 540px;
    margin-top: 30px;
    -webkit-box-shadow: 5px 8.66px 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 8.66px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
  &:before {
    content: '';
    border-radius: 12px;
    background-color: #eff8ff;
    position: absolute;
    width: 540px;
    height: 340px;
    left: 30px;
    z-index: -1;
    bottom: 30px;
  }
}

.fifth-screen p {
  color: #5d6770;
  font-size: 18px;
  line-height: 32px;
  font-family: $font_secondary;
  margin-bottom: 25px;
  &:last-child {
    color: #303c47;
    font-family: $font_secondary;
    font-weight: 500;
  }
}

.results {
  background: url(../img/founders-bg.png) repeat-x;
  padding-top: 120px;
  position: relative;
  padding-bottom: 90px;
}

.key-difference h2 {
  text-transform: uppercase;
  font-family: $font;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 80px;
  color: #000;
}

.results {
  h2 {
    text-transform: uppercase;
    font-family: $font;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 80px;
    color: #000;
  }
  img {
    width: 80px;
    margin-bottom: 25px;
  }
}

.key-difference p, .results p {
  color: #5d6770;
  font-size: 18px;
  margin-bottom: 60px;
}

.key-difference {
  padding-top: 120px;
  padding-bottom: 140px;
  background: url(../img/thanks_fill-repeat.png) center;
  h2 {
    font-family: $font;
    margin-bottom: 75px;
    strong {
      font-family: $font;
      font-weight: 700;
    }
  }
  p {
    line-height: 32px;
    font-family: $font_secondary;
    margin-bottom: 25px;
    font-weight: 400;
    strong {
      color: #303c47;
    }
  }
}

.course-fee {
  padding-top: 110px;
  padding-bottom: 100px;
  background: #0e64ed url(../../img/course-fee-bg.png) center repeat-x;
  background-size: cover;
  h2 {
    font-family: $font;

    strong {
      font-family: $font-secondary;
      font-weight: 700;
    }
    margin-bottom: 75px;
    color: #fff!important;
    font-weight: 100;
  }
}

.course-fee__block {
  max-width: 450px;
  background: #fff url(../img/block-course-fee.png) repeat-x bottom center;
  border-radius: 8px;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  -webkit-box-shadow: 10px 17.321px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 17.321px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto 25px;
  h4 {
    color: #fff;
    background: url(../img/bg-block.svg) center no-repeat;
    line-height: 50px;
    font-size: 26px;
    padding-bottom: 20px;
  }
  p {
    color: #0e64ed;
    font-size: 18px;
    font-weight: 500;
    font-family: $font_secondary;
    padding: 10px;
  }
  ul li {
    p {
      font-size: 18px;
      font-family: $font_secondary;
      padding: 10px 30px;
      color: #5d6770;
      position: relative;
      font-weight: 400;
      &::before {
        content: '';
        background: #0e64ed;
        width: 4px;
        height: 4px;
        position: absolute;
        top: 21px;
        border-radius: 4px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
      }
    }
    padding: 0 50px;
  }
  h5 {
    position: absolute;
    font-size: 60px;
    color: #303c47;
    bottom: 161px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.twelfth-screen {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(../img/bg-transparant-50.png);
}
.form-screen h2{
  margin-bottom: 80px;
}
.course-fee h2, .form-screen h2 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 100;
}

.twelfth-screen h2 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 86px;
  font-family: $font;
}

.form-screen h2 strong, .twelfth-screen h2 strong {
  font-weight: 700;
}

.twelfth-screen__content {
  position: relative;
  p {
    padding-left: 180px;
    display: block;
    max-width: 850px;
    color: #5d6770;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  img {
    width: 180px;
    position: absolute;
    left: 0;
  }
}

.form-screen {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(../img/form-screen-bg.png) center top repeat-x;
  h2 {
    font-family: $font;
  }
}

.form-screen__book img {
  width: 100%;
  margin-bottom: 20px;
}

.form-screen__form {
  max-width: 470px;
  padding: 40px 70px;
  background: #fff;
  -webkit-box-shadow: 5px 8.66px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 8.66px 50px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  h4, p {
    color: #303c47;
    font-family: $font_secondary;
    font-weight: 400;
  }
  h4 {
    line-height: 36px;
    padding: 0 20px 40px;
    font-size: 30px;
  }
  p {
    font-size: 14px;
    padding: 0 10px 10px;
    border-bottom: 1px solid #dce2e8;
  }
  form {
    padding-top: 20px;
  }
}

.form-screen__form_text {
  width: 320px;
  height: 55px;
  border: 1px #dce2e8 solid;
  border-radius: 8px;
  background-color: #f2f5f8;
  margin-bottom: 10px;
  padding-left: 20px;
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
    font-size: 14px;
    font-family: $font_secondary;
    font-weight: 400;
    color: #5d6770;
  }
}

.form-screen__form label {
  font-size: 12px;
  color: #5d6770;
  a {
    color: #5d6770;
    text-decoration: underline;
  }
}

.slider-toggle {
  padding-top: 120px;
  padding-bottom: 100px;
  background: #0e64ed url(../../img/slider-bgpng.png) no-repeat;
  background-size: cover;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: $font;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    strong {
      display: block;
      font-weight: 400;
      font-size: 24px;
      text-transform: none;
      color: #92b5ee;
      margin-bottom: 60px;
    }
  }
  .slider {
    width: 960px;
    margin: 0 auto;
    .slide {
      background: #fff;
      border-radius: 10px;
      position: relative;
    }
    .slide__head {
      background: #fff;
      border-radius: 10px;
      position: relative;
      display: block;
      padding: 25px 100px 25px 110px;
      margin-bottom: 10px;
      font-size: 24px;
      color: #303c47;
      &:after {
        content: '';
        width: 80px;
        height: 100%;
        position: absolute;
        background: #a0c7ff;
        z-index: 1;
        border-radius: 8px 0 0 8px;
        left: 0;
        top: 0;
      }
      &:before {
        content: url(../img/arrow_up.svg);
        position: absolute;
        background: #eff8ff;
        width: 42px;
        height: 42px;
        right: 18px;
        border-radius: 50%;
      }
    }
    .slide {
      .active:before {
        content: url(../img/arrow_down.svg);
      }
      &:before {
        content: '';
        font-size: 32px;
        font-family: $font;
        font-weight: 700;
        color: #fff;
        position: absolute;
        left: 25px;
        top: 23px;
        z-index: 2;
      }
      &:nth-child(1):before {
        content: '01';
      }
      &:nth-child(2):before {
        content: '02';
      }
      &:nth-child(3):before {
        content: '03';
      }
      &:nth-child(4):before {
        content: '04';
      }
    }
    .slide__toggle {
      margin-bottom: 10px;
      padding: 10px 100px 25px 110px;
      color: #5d6770;
      font-size: 20px;
      line-height: 32px;
      position: relative;
      display: none;
      &_active{
        display: block;
      }
    }
  }
}

.contacts {
  width: 100%;
  min-height: 631px;
  position: relative;
  #map {
    height: 630px;
    top: 0;
  }
  .bg-gradient {
    height: 630px;
    width: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#2e57bb), color-stop(70%, rgba(46, 87, 187, 0.8)), color-stop(90%, rgba(46, 87, 187, 0.3)), color-stop(95%, rgba(46, 87, 187, 0.3)), to(rgba(250, 250, 250, 0)));
    background: -webkit-linear-gradient(left, #2e57bb, rgba(46, 87, 187, 0.8) 70%, rgba(46, 87, 187, 0.3) 90%, rgba(46, 87, 187, 0.3) 95%, rgba(250, 250, 250, 0));
    background: -o-linear-gradient(left, #2e57bb, rgba(46, 87, 187, 0.8) 70%, rgba(46, 87, 187, 0.3) 90%, rgba(46, 87, 187, 0.3) 95%, rgba(250, 250, 250, 0));
    background: linear-gradient(to right, #2e57bb, rgba(46, 87, 187, 0.8) 70%, rgba(46, 87, 187, 0.3) 90%, rgba(46, 87, 187, 0.3) 95%, rgba(250, 250, 250, 0));
    z-index: 1;
    position: absolute;
    top: 0;
  }
}

.contacts__item {
  z-index: 25;
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 120px;
  h4 {
    position: relative;
    display: block;
    color: #fff;
    font-size: 60px;
    line-height: 76px;
    font-family: $font;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.contacts__info {
  margin-top: 70px;
  display: block;
  width: 100%;
  position: relative;
  h6 {
    color: #81b1f2;
    font-size: 16px;
    font-family: $font_secondary;
    line-height: 20px;
    font-weight: 400;
    padding-left: 17px;
    a{
      color: #81b1f2;
    }
  }
  img {
    width: 13px;
    position: absolute;
    top: 2px;
  }
  p {
    font-size: 21px;
    line-height: 28px;
    color: #fff !important;
    font-family: $font_secondary;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1400px) {
  .school .curves-absolute {
    right: 100px;
  }
}
@media only screen and (max-width: 1200px){
  .second-screen h2, .founders-school h2, .top5 h2,.fifth-screen h2, .key-difference h2, .results h2,.slider-toggle h2,.course-fee h2, .form-screen h2,.group-previous h2,.twelfth-screen h2,.contacts__item h4{
    font-size: 48px;
    margin-bottom: 50px;
  }
  .contacts__info{
    margin-top: 0;
  }
}
@media only screen and (max-width: 620px){
  .second-screen h2, .founders-school h2, .top5 h2,.fifth-screen h2, .key-difference h2, .results h2,.slider-toggle h2,.course-fee h2, .form-screen h2,.group-previous h2,.twelfth-screen h2,.contacts__item h4{
    font-size: 24px;
    margin-bottom: 30px;
  }
  .second-screen p, .founders-school p, .fifth-screen p, .key-difference p, .results p,.slider-toggle p,.course-fee p,
  .form-screen p,.group-previous p,.twelfth-screen p{
    font-size: 16px;
  }
  .founders-school h3 ,.founders-school p, .founders-school, .founders-school__social{
    margin-left: 0!important;
  }
  .top5 h3{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 65px;
  }
  .top5 p{
    font-size: 15px;
  }
  .fifth-screen__photo img{
    margin-top: 10px;
  }
  .btn__school_top5{
    top: 35%;
  }
    .contacts__info{
    margin-top: 0;
  }
  .group-slider{
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 998px) {
  .fifth-screen__photo {
    img {
      width: 100%;
    }
    &:before {
      opacity: .5;
    }
  }
}

@media only screen and (max-width: 992px) {
  .school-header__info .btn__school_nav {
    display: none;
  }
  .school .curves-absolute {
    img {
      width: 80%;
    }
    right: -150px;
  }
  .second-screen {
    p {
      text-align: center;
    }
    img {
      left: 50%;
      position: relative;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .contacts {
    #map {
      height: 360px;
    }
    .bg-gradient {
      background: #2e57bb;
      width: 100%;
      height: 475px;
    }
  }
  .contacts__item {
    position: relative;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .btn__school_top5 {
    width: 330px;
    padding: 25px 0;
    a{
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .school .curves-absolute {
    img {
      width: 70%;
    }
    right: -250px;
  }
}

@media only screen and (max-width: 768px) {
  .school-header__info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .nav {
      display: none;
    }
  }
  .btn__school_content,.btn__school_meeting {
    width: 330px;
    padding: 25px 0;
    height: 60px;
    a{
      font-size: 14px;
    }
  }
  .btn__school_second-screen{
    padding: 0;
    a{
      font-size: 14px;
    }
  }
  .btn__school_key, .btn__school_results, .btn__school_top5, .btn__school_twelfth-screen, .btn__school_meeting{
    width: 320px;
    a{
      font-size: 14px;
    }
  }
  .school {
    padding-top: 90px;
    padding-bottom: 70px;
    .content {
      width: 400px;
      h1 {
        strong {
          font-size: 22px;
          line-height: 26px;
          width: 330px;
        }
        font-size: 48px;
        line-height: 54px;
      }
      h2 {
        font-size: 24px;
        line-height: 28px;
        width: 190px;
      }
    }
  }
}

@media only screen and (max-width: 761px) {
  .results {
    h2 {
      margin-bottom: 40px;
    }
    img {
      position: absolute;
      width: 55px;
      top: 5px;
    }
    p {
      &:last-child {
        margin-bottom: 35px;
      }
      margin-bottom: 35px;
      padding-left: 75px;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .btn__school_content {
    position: absolute;
    width: 290px;
    height: 60px;
    padding: 15px 0;
    bottom: -35px;
    a{
      font-size: 14px;
    }
  }
  .btn__school_second-screen {
    margin-top: 0;
    margin-bottom: 60px;
    width: 270px;
  }
  .btn__school_top5 {
    margin-bottom: 50px;
  }
  .btn__school_key, .btn__school_results, .btn__school_top5,.btn__school_meeting {
    width: 270px;
    font-size: 14px;
  }
  .btn__school_key {
    margin: 40px auto 0;
    height: 60px;
  }
  .btn__school_twelfth-screen {
    width: 270px;
    font-size: 14px;
    margin: 25px auto 0;
    height: 60px;
  }
  .btn__school_form {
    width: 270px;
  }
  .school {
    padding-top: 30px;
    padding-bottom: 130px;
    .curves-absolute {
      img {
        width: 55%;
      }
      right: -400px;
    }
  }
  .top5 p {
    margin-bottom: 0;
  }
  .contacts {
    min-height: 300px;
  }
  .contacts__item {
    padding-top: 20px;
    h4 {
      font-size: 24px;
    }
  }
  .contacts__info {
    margin-top: 30px;
    h6 {
      font-size: 14px;
    }
    p {
      font-size: 18px;
    }
  }
  .btn__school_results{
    margin-top: 20px;
    height: 60px;
  }
  .btn__school_top5,.btn__school_second-screen{
    height: 60px;
  }
}

@media only screen and (max-width: 620px) {
  .fifth-screen__photo:before {
    opacity: .2;
  }
}

@media only screen and (max-width: 540px) {
  .school .content h1 {
    strong {
      font-size: 20px;
      line-height: 24px;
      width: 190px;
      letter-spacing: 0.06em;
    }
    font-size: 36px;
    line-height: 96px;
  }
  .slider-toggle h2, .twelfth-screen h2 {
    margin-bottom: 0;
  }
  .twelfth-screen__content {
    p {
      padding-left: 0;
    }
    img {
      position: relative;
      width: 80px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .founders-school {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .results {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .founders-school img {
    width: 350px;
  }
}

@media only screen and (max-width: 475px) {
  .form-screen__form {
    padding: 40px 0;
  }
  .form-screen__form_text {
    width: 270px;
  }
}

@media only screen and (max-width: 426px) {
  .school {
    .curves-absolute {
      bottom: -50px;
      right: -415px;
    }
    .content {
      padding-left: 10px;
      h1 {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .btn__school_form{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .form-screen__form h4{
    font-size: 24px;
    padding-bottom: 20px;
  }
  .second-screen {
    padding-bottom: 0;
    p {
      font-size: 16px;
    }
    img {
      margin-bottom: 12px;
    }
  }
  .course-fee h2, .fifth-screen h2, .founders-school h2, .key-difference h2, .results h2, .second-screen h2, .top5 h2,.group-previous h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .fifth-screen, .second-screen, .top5 {
    padding-top: 50px;
  }
  .fifth-screen {
    padding-bottom: 50px;
    p {
      font-size: 14px;
    }
  }
  .key-difference p, .slider-toggle h2 strong {
    font-size: 14px;
  }
  .key-difference p{
    line-height: 1.3em;
  }
  .slider-toggle h2 strong{
    margin-bottom: 20px;
  }
  .slider{
    padding: 15px
  }
  .course-fee, .form-screen, .key-difference, .slider-toggle, .twelfth-screen {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .course-fee__block {
    ul li {
      padding: 0;
    }
    h5 {
      font-size: 36px;
      font-weight: 400;
      bottom: 170px;
    }
  }
  .form-screen h2, .twelfth-screen h2 {
    font-size: 24px;
  }
  .twelfth-screen__content p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.3em;
  }
  .slider-toggle {
    background: #176ff0;
    h2 {
      font-size: 24px;
      text-align: left;
    }
    .slider {
      .slide__head {
        padding: 10px 50px 10px 55px;
        font-size: 16px;
        font-weight: 500;
        &:after {
          width: 50px;
        }
        &:before {
          top: 50%;
          transform: translateY(-50%);

        }
      }
      .slide:before {
        left: 13px;
        top: 13px;
        font-size: 24px;
      }
      .slide__toggle {
        padding: 10px 10px 25px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .course-fee__block h4{
    font-size: 20px;
  }
  .contacts .bg-gradient{
    height: 400px;
  }
  .contacts__item h4{
    margin-bottom: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

@media only screen and (max-width: 375px) {
  .founders-school img {
    width: 290px;
  }
}
@media only screen and (max-width: 425px) {
  .group-previous{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
