body.meeting {
  .meeting-header {
    background-color: white;
    &__info {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      // a:not(.btn) {
      //   position: absolute;
      //   display: inline-block;
      //   top: calc(50% - 32px);
      //   left: 0;
      // }
      // a.btn {
      //   @extend .btn-orange;
      //   position: absolute;
      //   top: calc(50% - 22px);
      //   right: 0;
      //   font-size: 14px;
      //   line-height: 42px;
      //   max-width: 190px;
      //   border-radius: 6px;
      // }
      .indicator-btn {
        padding: 13px 15px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        box-shadow: none;
        @media #{$media_sm} {
          display: none;
        }
      }
      @media #{$media_sm} {
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 0;
      }
    }
    &__logo {
       @media #{$media_xl} {
        width: 150px;
       }
       @media #{$media_sm} {
        width: 125px;
       }
    }
    &__contacts {
      // position: absolute;
      // top: 25px;
      // left: 300px;
      display: flex;
      & > div {
        font-family: $font_secondary;
        color: #141516;
        font-size: 16px;
        font-weight: 500;
        margin-right: 38px;
        line-height: 20px;
        &:last-child {
          margin-right: 0;
        }
        i {
          color: #ff591f;
          font-size: 12px;
          line-height: 20px;
          margin-right: 5px;
        }
        span {
          color: #5d6770;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
        @media #{$media_xl} {
          margin-right: 20px;
        }
      }
      @media #{$media_lg} {
        display: none;
      }
    }
    &__title {
      padding-top: 157px;
      padding-bottom: 168px;
      background: url('../img/meeting_title-bg.png') no-repeat center center;
      background-size: cover;
      h1 {
        color: #fff;
        font-size: 64px;
        line-height: 1.2;
        font-weight: 300;
        font-family: $font;
        strong {
          font-weight: 700;
        }
        @media #{$media_xl} {
          font-size: 50px;
        }
        @media #{$media_lg} {
          font-size: 40px;
        }
        @media #{$media_md} {
          font-size: 30px;
        }
        @media #{$media_sm} {
          margin-bottom: 60px;
          font-size: 24px;
        }
      }
      p {
        font-family: $font;
        color: #d2d5db;
        font-size: 30px;
        font-weight: 400;
        margin-top: 34px;
        margin-bottom: 72px;
        span {
          font-weight: 700;
          color: #fff;
          text-decoration: underline;
        }
        @media #{$media_xl} {
          font-size: 24px;
        }
        @media #{$media_lg} {
          font-size: 20px;
        }
        @media #{$media_md} {
          max-width: 280px;
          margin-bottom: 40px;
          font-size: 16px;
          br {
            display: none;
          }
        }
        @media #{$media_sm} {
          max-width: 200px;
          margin-bottom: 120px;
          color: #fff;
          span {
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
      a.btn {
        @extend .btn-orange;
        width: 100%;
        max-width: 300px;
        box-shadow: 10px 17px 50px rgba(255, 100, 31, 0.6);
        @media #{$media_sm} {
          display: block;
          margin: 0 auto;
        }
      }
      @media #{$media_lg} {
        padding: 70px 0;
      }
      @media #{$media_sm} {
        background-position: 66% center;
        padding-top: 20px;
        padding-bottom: 60px;
      }
    }
  }
  .meeting-content {
    h2 {
      font-family: $font;
      font-size: 60px;
      font-weight: 300;
      color: #141516;
      text-transform: uppercase;
      line-height: 1.3;
      strong {
        font-weight: bold;
      }
       @media #{$media_xl} {
        font-size: 50px;
       }
       @media #{$media_md} {
        font-size: 40px;
       }
       @media #{$media_sm} {
        font-size: 24px;
       }
    }
    .advantages {
      h2 {
        @media #{$media_lg} {
          font-size: 48px;
          br {
            display: none;
          }
        }
        @media #{$media_md} {
          font-size: 24px;
        }
      }
    }
    // p {
    //   font-family: $font_secondary;
    //   color: #5d6770;
    //   font-size: 18px;
    //   font-weight: 400;
    //   line-height: 32px;
    // }
    a.btn {
      @extend .btn-orange;
      font-size: 18px;
      font-weight: bold;
      line-height: 72px;
      border-radius: 6px;
      box-shadow: 5px 9px 30px rgba(255, 100, 31, 0.5);
      width: 100%;
      max-width: 300px;
      @media #{$media_xl} {
        font-size: 16px;
      }
    }
    &__we-know {
      padding-top: 100px;
      // background: white url('../img/wait_bg.png')no-repeat right 295px top 230px;
      h2 {
        margin-bottom: 30px;
        @media #{$media_sm} {
          margin-bottom: 10px;
        }
      }
      p {
        margin-bottom: 0;
        @media #{$media_sm} {
          font-size: 14px;
        }
      }
      ul {
        list-style: none;
        padding-left: 70px;
        margin: 100px 0 115px;
        li {
          position: relative;
          color: #303c47;
          font-family: $font_secondary;
          font-size: 20px;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 60px;
          &:last-child {
            margin-bottom: 0;
          }
          &::before {
            content:'';
            background: url('../img/wait_list-icon.svg')no-repeat center center;
            background-size: contain;
            display: inline-block;
            position: absolute;
            left:-72px;
            width: 56px;
            height: 56px;
            top: calc(50% - 28px);
            @media #{$media_md} {
              width: 48px;
              height: 48px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
           @media #{$media_xl} {
            margin-bottom: 40px;
           }
           @media #{$media_md} {
            font-size: 18px;
           }
           @media #{$media_sm} {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 20px;
           }
        }
         @media #{$media_xl} {
          margin-top: 70px;
         }
         @media #{$media_md} {
          margin-bottom: 40px;
         }
         @media #{$media_sm} {
          margin: 30px 0;
         }
      }
      blockquote {
        position: relative;
        display: inline-block;
        font-family: $font_secondary;
        color: #0e64ed;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 261px;
        margin-bottom: 0;
        &::before {
          content:'';
          position: absolute;
          top: calc(50% - 1px);
          left: -261px;
          width: 200px;
          height: 2px;
          background-color: #dee9f2;
        }
        a {
          position: absolute;
          top: calc(50% - 50px);
          right: -200px;
          display: inline-block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #0e64ed;
          box-shadow: 5px 9px 50px rgba(29, 100, 230, 0.8);
          color: white;
          line-height: 100px;
          text-align: center;
          &::before {
            content: '\f04b';
            display: inline-block;
            font-family: $fontAwesome;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 0.24px;
          }
        }
      }
    }
    &__reason {
      padding: 165px 0 120px;
      font-family: $font-secondary;
      color: #303c47;
      &-item {
        margin-bottom: 100px;
        p {
          font-size: 21px;
          br {
            @media #{$media_xl} {
              display: none;
            }
            @media #{$media_sm} {
              display: block;
            }
          }
          @media #{$media_xl} {
            font-size: 18px;
          }
          @media #{$media_sm} {
            font-size: 16px;
          }
        }
        .btn {
          @media #{$media_sm} {
            max-width: 260px !important;
            line-height: 60px !important;
          }
        }
        @media #{$media_xl} {
          margin-bottom: 50px;
        }
        @media #{$media_md} {
          text-align: center;
        }
        @media #{$media_sm} {
          margin-bottom: 35px;
        }
      }
      strong {
        color: #0e64ed;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 48px;
        display: block;
        span {
          font-size: 24px;
        }
        @media #{$media_xl} {
          font-size: 40px;
        }
        @media #{$media_sm} {
          font-size: 48px;
        }
      }
      @media #{$media_md} {
        padding-top: 120px;
      }
      @media #{$media_sm} {
        padding-top: 40px;
        padding-bottom: 35px;
      }
    }
    &__themes {
      padding: 120px 0 15px;
      @include gradient-y(#eff8ff, white, 80%);
      h2 {
        max-width: 600px;
        @media #{$media_lg} {
          max-width: none;
        }
      }
      .statistic {
        position: absolute;
        right: 85px;
        top: 25px;
        color: #5d6770;
        text-transform: uppercase;
        height: 90px;
        img {
          float: left;
        }
        span {
          float: left;
          margin-top: 10px;
          margin-left: 10px;
        }
         @media #{$media_xl} {
          right: 15px;
         }
         @media #{$media_lg} {
          position: static;
          right: auto;
          top: auto;
         }
      }
      &-list {
        &-item {
          position: relative;
          padding-left: 100px;
          color: #5d6770;
          font-family: $font-secondary;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 100px;
          strong {
            position: relative;
            display: block;
            margin-bottom: 10px;
            color: #303c47;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.7;
            @media #{$media_sm} {
              font-size: 18px;
            }
          }
          p {
            @media #{$media_sm} {
              font-size: 14px;
            }
          }
          .number {
            position: absolute;
            left: 0;
            top: -25px;
            font-family: $font-secondary;
            color: #0943d9;
            font-size: 72px;
            font-weight: 300;
            @media #{$media_sm} {
              position: static;
              left: auto;
              top: auto;
              font-size: 64px;
              line-height: 1;
            }
          }
          @media #{$media_lg} {
            margin-bottom: 50px;
          }
          @media #{$media_sm} {
            padding-left: 0;
            margin-bottom: 30px;
            text-align: center;
          }
        }
      }
    }
    
    &__result {
      h2 {
        color: white;
      }
      padding-top: 120px;
      background-size: cover;
      background: #0e64ed url('../img/result-bg.png') no-repeat;
      color: white;
      font-family: $font_secondary;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }
    &__organization {
      @include gradient-y(#eff8ff, white, 80%);
      padding:120px 0;
      .container {
        position: relative;
      }
      h2 {
        margin-bottom: 80px;
      }
      &-slider {
        .slick-arrow {
          width: 60px;
          height: 60px;
          font-size: 0;
          border:0;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          text-align: center;
          top: calc(50% - 30px);
          z-index: 100;
          &::before {
            display: inline;
            color: #0e61e6;
            font-family: $fontAwesome;
            font-size: 18px;
            font-weight: 400;
            line-height: 60px;
          }
          &:focus {
            outline: none;
          }
        }
        .slick-prev {
          left: -1%;
          &::before {
            content: '\f053';
          }
        }
        .slick-next {
          right: -1%;
          &::before {
            content: '\f054';
          }
        }
      }
      &-slide {
        &:active,
        &:focus {
          outline: none;
        }
        img {
          float: left;
          &:active,
          &:focus {
            outline: none;
          }
        }
        div {
          display: inline-block;
          margin-top: 73px;
          width: 445px;
          float: right;
          margin-right: 100px;
        }
        h4 {
          color: #303c47;
          font-size: 42px;
        }
        p {
          margin-bottom: 50px;
          color: #5d6770;
          font-size: 18px;
        }
        ul {
          list-style: none;
          padding-left: 20px;
          li {
            position: relative;
            padding-left: 20px;
            color: #303c47;
            font-size: 20px;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 13px;
              width: 5px;
              height: 5px;
              background-color: #0e64ed;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
      &-counter {
        div {
          &:active,
          &:focus {
            outline: none;
          }
        }
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
        width: 50px;
        height: 50px;
        color: #0e64ed;
        font-family: $font_secondary;
        font-size: 30px;
        font-weight: 500;
        line-height: 48px;
        &::before {
          content:'';
          display: inline-block;
          position: absolute;
          left: -65px;
          top: calc(46% - 1px);
          width: 50px;
          height: 2px;
          background-color: #0e64ed;
        }
      }
    }
    &__participation {
      margin-bottom: 120px;
      img {
        width: 100%;
        max-width: 500px;
      }
      h2 {
        font-size: 52px;
        margin-bottom: 5px;
        strong {
          span {
            color: #0e64ed;
          }
        }
      }
      blockquote {
        color: #5d6770;
        font-family: $font;
        font-size: 26px;
        font-style: italic;
        font-weight: 300;
        line-height: 48.15px;
        position: relative;
      }
      a.btn {
        display: block;

        margin: 130px auto 0;
      }
    }
  }
}

.section-desc {
  font-size: 18px;
  color: $shuttle-gray;
  line-height: 1.7;
}

.we-know {
  &__video-wrap {
    position: relative;
    .btn-play {
      position: absolute;
      top: 440px;
      left: 20px;
      @media #{$media_xl} {
        top: 400px;
      }
      @media #{$media_lg} {
        left: 0;
      }
      @media #{$media_sm} {
        top: auto;
        bottom: 50px;
        width: 48px;
        height: 48px;
        font-size: 12px;
        padding-left: 2px;
      }
    }
    @media #{$media_lg} {
      max-width: 450px;
      margin: 0 auto;
      padding-bottom: 40px;
    }
    @media #{$media_sm} {
      max-width: 170px;
    }
  }
  &__img {
    position: absolute;
    top: -170px;
    right: -40px;
    max-width: none;
    @media #{$media_xl} {
      top: -50px;
      width: 500px;
    }
    @media #{$media_lg} {
      position: static;
      top: auto;
      right: auto;
      max-width: 100%;
      width: auto;
    }
  }
  &__show {
    position: relative;
    padding-left: 260px;
    line-height: 1.3;
    color: #0064f1;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 200px;
      height: 2px;
      background-color: #daeaf3;
      @media #{$media_xl} {
        width: 170px;
      }
    }
    br {
      display: none;
      @media #{$media_lg} {
        display: block !important;
      }
    }
     @media #{$media_xl} {
      padding-left: 200px;
     }
     @media #{$media_lg} {
      display: none;
     }
     &--mobile {
      position: absolute;
      bottom: 0;
      display: none;
      font-size: 12px;
      font-weight: 500;
      padding: 0;
      &::before {
        display: none;
      }
      @media #{$media_lg} {
        display: block;
      }
    }
  }
}

.themes {
  h2 {
    margin-bottom: 90px;
  }
}

.result {
  h2 {
    margin-bottom: 100px;
  }
  &__item {
    position: relative;
    padding-top: 85px;
    margin-bottom: 75px;
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.participation {
  &__img-wrap {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 100px;
      right: -20px;
      width: 70px;
      height: 55px;
      background: url('../img/blockquote.png')no-repeat center;
    }
  }
  &__content {
    padding-left: 20px;
  }
}

.place {
  padding-top: 40px;
  padding-bottom: 110px;
  h2 {
    margin-bottom: 70px;
  }
  &__content {
    img {
      margin-bottom: 35px;
    }
    h3 {
      font-family: $font;
      margin-bottom: 25px;
      font-size: 42px;
      font-weight: 700;
      color: $pickled-bluewood;
    }
    p {
      font-family: $font;
      font-size: 24px;
      color: $shuttle-gray;
    }
  }
  &__img-wrap {
    position: relative;
    padding-top: 65px;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 35px;
      right: -30px;
      bottom: 0;
      width: 100%;
      background-color: $solitude;
      border-radius: 16px;
      z-index: -1;
    }
    img {
      display: block;
      border-radius: 16px;
    }
  }
}

.form-screen {
  &--meeting {
    h2 {
      margin-bottom: 105px;
    }
    .form-screen__form {
      h4 {
        margin-bottom: 25px;
        padding: 0;
        font-size: 24px;
      }
      p {
        position: relative;
        &:hover .drop-content {
          display: block;
        }
      }
    }
    .form__field {
      padding: 15px 20px;
      border: 1px solid $mystic;
    }
    .form__btn {
      padding-top: 18px;
      padding-bottom: 18px;
    }
    .form-group--btn {
      margin-bottom: 30px;
    }
  }
}

.drop {
  &-btn {
    position: relative;
    background: none;
    border: 0;
    color: #ff5812;
    font-weight: 700;
    &::after {
      content: '\f107';
      font-family: $fontAwesome;
      display: inline-block;
      margin-left: 5px;
    }
  }
  &-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 125px;
    padding: 20px 20px 15px;
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(#000, 0.1);
    z-index: 1;
    a {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 500;
      color: $shuttle-gray;
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        color: #ff5812;
        text-decoration: underline;
      }
      &:hover {
        color: #ff5812;
        text-decoration: underline;
      }
    }
  }
}

.group-slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
  div {
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .slick-slide:not(.slick-current) {
    &:active,
    &:focus {
      outline: none;
    }
    img {
      transition: all 0.5s;
      width: 515px;
      opacity: 0.3;
      margin-top: 40px;
    }
  }
  .slick-current {
    &:active,
    &:focus {
      outline: none;
    }
    img {
      width: 100%;
      border-radius: 17px;
      box-shadow: 0 0 10px 2px #b7b5b5;
      transition: all 0.5s;
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
  .slick-active {
    text-align: left;
    transition: all 0.5s;
  }
  .slick-active.slick-center {
    text-align: center;
  }
  .slick-active.slick-center+.slick-active {
    text-align: right;
  }
  .slick-arrow {
    width: 60px;
    height: 60px;
    font-size: 0;
    border:0;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    text-align: center;
    top: calc(50% - 30px);
    z-index: 100;
    &::before {
      display: inline;
      color: #0e61e6;
      font-family: $fontAwesome;
      font-size: 18px;
      font-weight: 400;
      line-height: 60px;
    }
    &:focus {
      outline: none;
    }
  }
  .slick-prev {
    right: 80%;
    &::before {
      content: '\f053';
    }
  }
  .slick-next {
    left: 80%;
    &::before {
      content: '\f054';
    }
  }
}

.group-previous {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 115px;
  .btn {
    padding:0 38px;
    line-height: 70px;
    width: auto;
    max-width: initial;
  }
  h2{
    font-size: 60px;
    font-family: $font-secondary;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-align: left;
    color: #141516;
    strong{
      font-weight: bold;
    }
  }
}
.partners {
  padding-top: 120px;
  padding-bottom: 140px;
  h2 {
    text-transform: uppercase;
    font-family: $font;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 75px;
    color: #000;
    strong {
      font-family: $font;
      font-weight: 700;
    }
  }
}

.partners__block {
  border: 1px solid #e2e7ee;
  padding: 30px 30px 45px;
  margin-bottom: 30px;
  img {
    margin-bottom: 60px;
  }
  h5 {
    font-size: 30px;
    color: #0d1e30;
    margin-bottom: 40px;
  }
  p {
    color: #5d6770;
    font-size: 18px;
    line-height: 32px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    strong {
      color: #303c47;
    }
  }
}
@media only screen and (max-width: 620px) {
  .partners{
    padding-bottom: 30px;
  }
  .partners__block{
    padding: 20px 5px 20px;
  }
  .partners__block img{
    margin-bottom: 10px;
  }
  .partners__block h5{
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 425px) {
  .partners {
    padding-top: 50px;
    h2 {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
  .partners__block {
    h5 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}
