.form
  &-group
    position: relative
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &__field
    width: 100%
    padding: 15px 20px
    background-color: $catskill-white
    border: 1px solid $mystic
    border-radius: 8px
  &__btn
    width: 100%