

.founders--bg {
  background: #0e64ed;
  padding-top: 100px;
  padding-bottom: 45px;
  p{
    margin-bottom: 20px;
  }
  a{
    margin-bottom: 5px;
  }
}


.founders h3{
  color: #fff;
  margin-bottom: 0;
  font-size: 24px;
}
.founders h2{
  text-align: center;
  font-size: 60px;
  margin-bottom: 70px;
}
.founders img{
  margin-bottom: 55px;
}
body.meeting .founders--bg h2 {
  color: #fff;
}
.social i {
  color: #fff;
  margin-right: 10px;
  margin-bottom: 5px;
}
.social a {
  color: #92b5ee;
  font-size: 14px;
  font-weight: 500; 
}
.social {
  display: flex;
  flex-direction: column;
}
body.meeting .founders--bg p {
  color: #92b5ee;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width : 1200px){
  .founders h2{
    font-size: 48px !important; 
  
  }
  body.meeting .meeting-content p br{
    display: none
    
  }
}

@media only screen and (max-width : 992px){
  .founders{
    padding-top: 70px;
    text-align: center
    
  }
  .founders img{
    margin-top: 40px;
    width: 35%;
    height: auto;
    margin-bottom: 15px
    
  }
  .founders h2{
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width : 576px){
  .founders h2{
    line-height: 1.3 !important;
    font-size: 28px !important;
  }
}
@media only screen and (max-width : 425px){
  .founders {
    h2{
      font-size: 24px;
    }
  }
}
