.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
      font-size: 14px;
      font-weight: 500;
      color: $shuttle-gray;
      transition: all 0.25s ease;
      &:hover {
        text-decoration: none;
        color: $orange;
      }
    }
}