.new-approach {
  padding-top: 77px;
  padding-bottom: 80px;
  background-image: linear-gradient(to bottom,#eff8ff 80%,#fff 100%);
  @media #{$media_sm} {
    padding-bottom: 40px;
  }
  .btn--orange {
    margin-top: 75px;
    @media #{$media_sm} {
      margin-top: 30px;
    }
  }
  h2 {
    text-transform: uppercase;
    font-family: $font;
    font-size: 60px;
    font-weight: 100;
    color: #000;
    strong {
      font-weight: 700;
    }}
  &__content {
    margin-top: 52px;
    p {
      font-size: 20px;
      margin-bottom: 30px;
      max-width: 490px;
      @media #{$media_xl} {
        br {
          display: none;
        }
      }
      @media #{$media_sm} {
        font-size: 14px;
        color: #5d6770;
      }
    }
    @media #{$media_sm} {
      margin-top: 0;
    }
  }
  &__img-wrap {
    position: relative;
    margin-bottom: 70px;
    img {
      border-radius: 10px;
    }
    @media #{$media_md} {
      max-width: 370px;
      margin: 0 auto 30px;
    }
  }
  &__video {
    position: absolute;
    right: -30px;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: $blue-ribbon;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 10px 50px rgba($royal-blue, 0.8);
    &:hover {
      background-color: lighten($blue-ribbon, 5%);
      color: #fff;
    }
    @media #{$media_md} {
      left: 50%;
      right: auto;
      bottom: -15px;
      width: 52px;
      height: 52px;
      font-size: 13px;
      transform: translateX(-50%)
    }
  }
  &__btn {
    @media #{$media_md} {
      text-align: center;
    }
    a {
      @media #{$media_sm} {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px !important;
      }
    }
  }
  &__desc {
    display: block;
    margin-bottom: 10px;
  }
  &__left {
    p {
      strong {
        color: $secondary_font_color;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .new-approach{
    padding-top: 50px;
    h2 {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
}
