.sirius-about{
   background-color: #f3faff; 
  padding-bottom: 140px;
  @media #{$media_sm} {
    padding-bottom: 0;
  }

}
.sirius-about__wrap {
  padding-top: 90px;
  padding-bottom: 80px;
  h2 {
    margin-right: 65px;
    color: #141516 !important;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0 !important;
    @media #{$media_sm} {
      margin-right: 20px;
    }
    br {
      display: none;
      @media #{$media_sm} {
        display: block;
      }
    }
  }
  img {
     @media #{$media_lg} {
      width: 100px;
      height: 100px;
     }
     @media #{$media_sm} {
      width: 80px;
      height: 80px;
     }
  }
  @media #{$media_lg} {
    padding-bottom: 40px;
  }
}
.sirius-about__wrap{
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.sirius-about__card {
  padding: 40px 25px;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 5px 10px rgba(#dbdbdb, .4);
   p {
    color: #5d6770 !important;
    font-size: 22px !important;
    font-weight: 400 !important;
    span{
      color: #303c47 !important;
      font-size: 22px !important;
      font-weight: 500 !important;
    }
  }
}

.sirius-about__card {
  position: relative;
  border-radius: 25px;
  &::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #4086f4;
    top: 0; 
    left: 25px;
  }
  @media #{$media_lg} {
    padding: 20px;
  }
  @media #{$media_md} {
    border-radius: 10px;
    height: auto;
  }
}


@media only screen and (max-width : 1200px){
  body.meeting .meeting-content h2{


  }

  .sirius-about__wrap{
    padding-top: 70px;  
    width: 100%;  
    height: auto; 
  }
.sirius-about__card  {
 

   p{
   
    font-size: 14px !important;
    line-height: 1.5 !important;  
   
     span{
   
    font-size: 14px !important;
   line-height: 1.5 !important; 
   
  }
  }

}

}

@media only screen and (max-width : 767px){
 .sirius-about__card{
    margin-bottom: 20px;  
  }
}